
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 900px;
    margin: 20px auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.images {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images img {
    max-width: 45%;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #329425;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.explore-button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
